.admin.page-container {

    form {

        .input-field {
            margin-bottom: 20px;
            clear: both;

            &.half{
                width: 49%;
                float: left;
                clear: none;

                &:nth-of-type(odd){
                    margin-right: 2%;
                }
            }

            &.fifth{
                width: 19%;
                float: right;
                clear: none;
                margin-left: 1%;
            }

            &.two-fifths{
                width: 38%;
                float: left;
                clear: none;
                margin-right: 1%;
            }

            &.three-fifths{
                width: 58%;
                float: left;
                clear: none;
                margin-right: 1%;
            }

            label {
                display: block;
                margin: 0 0 5px; 
            }

            input {
                display: block;
                width: 100%;
                padding: 5px 10px;
            }

            textarea{
                width: 100%;
                height: 400px;
                overflow-y: auto;
                resize: none;
                padding: 10px;
            }

            input,textarea{
                border: solid 1px #CCC;
            }

            .input-inner{
                position: relative;
                overflow: hidden;


                span{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    padding: 7px 10px 0;
                    height: 100%;
                    background: #000;
                    color: #FFF;
                }
                input{
                    padding-left: 35px;
                }

            }

            .radio-wrap{
                display: inline-block;
                margin-right: 20px;

                input{
                    display: inline-block;
                    width: auto;
                }
                label{
                    display: inline-block;
                }

            }

        }

    }

    .button{

        &.update{
            // position: fixed;
            top: 120px;
            right: 20px;
        }
        &.delete{
            background: #ff7f7f;
            border: solid 1px darken(#ff7f7f, 10%);

            &:hover{
                background: darken(#ff7f7f, 10%);
            }
        }
	}
	
	p {
		clear: both;
	}

}