.admin{

    #modal-overlay{
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.3s linear;
        background: rgba(#000, 0.5);

        &.toggled{
            opacity: 1;
            pointer-events: auto;
        }

    }

    .modal-window{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFF;
        padding: 40px;
        text-align: center;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s linear;

        &.toggled{
            opacity: 1;
            pointer-events: auto;
        }

    }

}