.admin {

    table {

        a {
            display: block;
            font-weight: 600;
            margin-bottom: 5px;
            transition: all 0.3s linear;
            padding: 7px 10px;

            &:last-of-type{
                margin: 0;
            }
            &:hover{
                text-decoration: none;
            }

            &.edit{
                color: #000;
                background: #00e7e7;
                border: solid 2px darken(#00e7e7, 5%);

                &:hover{
                    background: darken(#00e7e7, 5%);
                }
            }

            &.delete {
                background: #7f0000;
                color: #FFF;
                border: solid 2px darken(#7f0000, 5%);

                &:hover{
                    background: darken(#7f0000, 5%);
                }
            }
        }
        img{
            width: 200px;
        }

        .button,
        .button-small{
            margin-top: 20px;
        }

    }

    .modal-window{

        h3{
            margin-bottom: 20px;
        }
        .button{
            display: inline-block;
            width: 49%;
            margin-bottom: 0;
        }
    }

}