.admin{

    .delivery{

        .delivery-details{
            padding: 40px;
            background: #E3E3E3;
            margin-bottom: 30px;
            border: solid 1px #CECECE;

            p{
                margin: 0;
            }
            br{
                margin: 20px 0;
            }

            .details-inner{
                display: inline-block;
                vertical-align: top;
                width: 49%;

                &:nth-of-type(odd){
                    text-align: left;
                }
                &:nth-of-type(even){
                    text-align: right;
                }

                .driver-image{
                    display: inline-block;
                    text-align: center;
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    border: solid 2px #000;
                    border-radius: 50%;

                    img{
                        max-height: 150px;
                    }
                }

                .driver-details{
                    display: inline-block;
                    text-align: center;
                }
            }
        }

        .delivery-feedback{
            padding: 40px;
            background: #E3E3E3;
            border: solid 1px #CECECE;
            margin-bottom: 30px;

            .rating-toggle{
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            .rating-face{
                font-size: 30px;
                margin-right: 10px;
                transition: all 0.3s linear;

                &:hover{
                    cursor: pointer;
                    //transform: scale(1.3);
                    transition: all 0.3s linear;
                }
                &.toggled{
                    transform: scale(1.3);
                }

                &[data-val='1']{
                    color: #ff0000;
                }
                &[data-val='2']{
                    color: #e59400;
                }
                &[data-val='3']{
                    color: #cccc00;
                }
                &[data-val='4']{
                    color: #9acd32;
                }
                &[data-val='5']{
                    color: #007f00;
                }
            }
            .rating-description{
                vertical-align: middle;
                display: inline-block;
                font-weight: 600;
                background: #FFF;
                padding: 5px 10px;
                transition: all 0.3s linear;

                @media screen and (max-width: 1024px){
                    display: block;
                    margin-top: 10px;
                }

                &.rating-1{
                    background: #ff0000;
                    color: #FFF;
                }
                &.rating-2{
                    background: #e59400;
                }
                &.rating-3{
                    background: #cccc00;
                }
                &.rating-4{
                    background: #9acd32;
                }
                &.rating-5{
                    background: #007f00;
                    color: #FFF;
                }
            }
        }

    }

}