.admin {

    .product-importer {

        h1 {
            margin-bottom: 0;
        }

        fieldset {
            border: solid 1px #9d9d9d;
            padding: 20px;
            margin-bottom: 30px;

            legend {
                display: inline-block;
                padding: 5px 10px;
                //border: solid 1px #9d9d9d;
                width: auto;
                font-size: 18px;
                font-weight: 600;
            }

            input[type=file] {
                margin-top: 20px;
                border: none;
                padding-left: 0;
            }

            p {
                margin-bottom: 5px;
                font-weight: 700;
            }

            table {
                margin-bottom: 20px;

                th {
                    padding: 7px 10px;

                    span {
                        display: inline-block;
                        color: #FF0000;
                        font-size: 18px;
                        margin-left: 5px;
                    }
                }

                tr {
                    height: 20px;
                    border: solid 1px red;
                }
            }
        }

        .importer-result {
            display: block;
            padding: 20px;

            &.importer-valid {
                background: #006600;
            }

            &.importer-invalid {
                background: #990000;
            }

            p{
                margin: 0;
                font-weight: 600;
                color: #FFF;
            }

        }

    }

}