.admin {

    .admin-menu {

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {

                a {
                    display: block;
                    width: 100%;
                    color: #000;
                    padding: 10px;
                    background: #CCC;
                    transition: all 0.3s linear;

                    &:hover {
                        text-decoration: none;
                        background: #9d9d9d;
                    }
                }

                &.active {

                    > a {
                        background: #9d9d9d;
                    }

                }

                ul{

                    li{

                        a{
                            padding-left: 30px;
                            background: rgba(#C3C3C3, 0.4);
                        }

                    }
                }

            }

        }

    }

}